html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 40px;
  background: linear-gradient(to bottom right, #d3edff 0%, #2f18b3 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: #111;
}

.card {
  background: rgba(255, 255, 255, 0.20);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  color: #111;
}

#nextButtonContainer {
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#nextButtonContainer.visible {
  opacity: 1;
  pointer-events: auto;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: rgba(255, 255, 255, 0.20);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  cursor: pointer;
  color: #111;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

button + button {
  margin-left: 10px;
}

button:hover {
  background: rgba(255, 255, 255, 0.35);
}

button.correct {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to bottom right, #00ff2f80 10%, #ffffff00 80%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  color: rgb(0, 0, 0);
}

button.wrong {
 margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to bottom right, #ff000080 10%, #ffffff00 80%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  color: black;
}

button.correct-hint {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to bottom right, #00eeff80 10%, #ffffff00 80%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  color: white;
}
